body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

.Counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 100px;
}   

.Edit-Counter {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.reset-btn {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9.5%;

    text-align: center;
}